<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="AutoLotEntitiesModel" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;D:\FSEGA\An 3\Medii de programare și dezvoltare\Fita_Oana_Lab6\Fita_Oana_Lab6\AutoLot.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>